html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}

/* nav>#sidebarMenu{
 background: red;
} */


.card {
  border-radius: unset;
  border: unset;
}

.card-header {
  border-bottom: unset;
}


.__penjualan {
  margin-top: -12px;
  background-color: #fff;
}

.__warna {
  /* background: #ddd; */
}

.login {
  background: url('http://localhost:97/pi_kpi/public/assets/img/backdepan.jpg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
}


.sidebar_nav {
  position: fixed;
}